{
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "import"],
  "root": true,
  "rules": {
    "comma-dangle": "off",
    "global-require": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["external", "builtin", "internal", ["parent", "sibling"], "index", "type", "object"],
        "newlines-between": "always"
      }
    ],
    "jsx-a11y/anchor-is-valid": "warn",
    "no-await-in-loop": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "off",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
